<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="head">
  <head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"/>
    <link th:rel="stylesheet" th:href="@{/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/richtext.min.css} "/>
    <script type="text/javascript" th:src="@{/jquery-3.6.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/custom.js}"></script>
    <script type="text/javascript" th:src="@{/prism.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.richtext.min.js}"></script>
    <script src="https://kit.fontawesome.com/5d94cb2796.js" crossorigin="anonymous"></script>

  </head>
</div>
</body>
</html>