<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/products/page/1}">Catalog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/order}">Cart</a>
          </li>
          <th:block sec:authorize="!isAuthenticated()">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/login}">Login</a>
                <a class="dropdown-item" th:href="@{/register}">Register</a>
              </div>
            </li>
          </th:block>
        </ul>
        <form class="d-flex" th:action="@{/products/page/1}">
          <input class="form-control me-sm-2" type="search" placeholder="Search" name="keyword" th:value="${keyword}">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <th:block sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#" sec:authentication="principal.username">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/address}">Addresses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/order/history}">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/account}">Edit password</a>
            </li>
            <li class="nav-item">
              <a href="javascript: document.logoutForm.submit()" class="nav-link">Logout</a>
              <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </th:block>
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--      <a class="navbar-brand" href="#">Navbar</a>-->
<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarColor02">-->
<!--        <ul class="navbar-nav me-auto">-->
<!--          <li class="nav-item" sec:authorize="hasAuthority('Admin')">-->
<!--            <a class="nav-link" th:href="@{/users}">Users</a>-->
<!--          </li>-->
<!--          <li class="nav-item" sec:authorize="hasAuthority('Editor')">-->
<!--            <a class="nav-link" th:href="@{/categories}">Categories</a>-->
<!--          </li>-->
<!--          <li class="nav-item" sec:authorize="hasAuthority('Editor')">-->
<!--            <a class="nav-link" th:href="@{/products}">Products</a>-->
<!--          </li>-->
<!--          <li class="nav-item" sec:authorize="hasAuthority('Seller')">-->
<!--            <a class="nav-link" th:href="@{/crm}">CRM</a>-->
<!--          </li>-->
<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" sec:authentication="principal.username">Users</a>-->
<!--            <div class="dropdown-menu">-->
<!--              <a th:href="@{/account}" class="dropdown-item">Account</a>-->
<!--              <a href="javascript: document.logoutForm.submit()" class="dropdown-item">Sign out</a>-->
<!--              <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">-->
<!--                <input hidden type="submit" value="Sign Out" />-->
<!--              </form>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <form class="d-flex">-->
<!--          <input class="form-control me-sm-2" type="text" placeholder="Search">-->
<!--          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
</div>
</body>
</html>