<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head :: head}"></div>
<title>Users page</title>
<body>
<div th:insert="~{fragments/header :: header}"></div>

</br>
<div class="container-fluid">
<div class="card border-light mb-5" >
    <div class="card-header"><h1>
        Manage Categories
    </h1></div>
    <div class="card-body">

    <form th:action="@{/categories/page/1}" class="d-flex">
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>
        <table>
            <tr>
                <th><input type="search" name="keyword" th:value="${keyword}" class="form-control me-sm-2" required></th>
            </tr>
        </table>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        <button type="button" class="btn btn-secondary" onclick="clearFilter()">Clear</button>
        &nbsp;&nbsp;
        <a class="btn btn-light" th:href="@{/categories/new}">Create category</a>

    </form>

        <div th:if="${message != null}" class="alert alert-dismissible alert-success" th:text="${message}">
        </div>
        <div th:if="${errormessage != null}" class="alert alert-dismissible alert-danger" th:text="${errormessage}">
        </div>
    <table class="table table-hover">
        <thead>
        <tr class="table-dark">
            <th>
                <a th:if="${sortField != 'categoryName'}" style="color:white; text-decoration:none"
                   th:href="@{'/categories/page/' + ${currentPage} + '?sortField=categoryName&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Category&nbsp;</a>
                <a th:if="${sortField == 'categoryName'}" style="color:white; text-decoration:none"
                   th:href="@{'/categories/page/' + ${currentPage} + '?sortField=categoryName&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">Category&nbsp;</a>

                <i th:if="${sortField == 'categoryName'}"
                   th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
            </th>

            <th scope="col">Enabled</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-dark" th:each="category: ${listCategories}">
            <td th:text="${category.categoryName}"/>
            <td th:text="${category.enabled}"/>
            <td>
                <a type="button" class="btn btn-link" th:href="@{'/categories/edit/' + ${category.categoryId}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
        <div th:if="${totalPages} > 1">
            <span th:text="${totalItems}"/>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'/categories/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&laquo;</a>
                </li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/categories/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="${i}">1</a>
                </li>
                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'/categories/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>

<script type="text/javascript">
    function clearFilter(){
        window.location = "[[@{/categories}]]"
    }
</script>
</body>
</html>