<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head :: head}"></div>
<body>
<div th:insert="~{fragments/header :: header}"></div>

</br>
<div class="container-fluid">
<div class="card border-light mb-5" >
    <div class="card-header"><h1>

        Manage Users
    </h1></div>
    <div class="card-body">
    <form class="d-flex">
        <table>
            <tr>
                <th><input class="form-control me-sm-2" type="text" placeholder="Search"></th>
            </tr>
        </table>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        <a class="btn btn-light" th:href="@{/users/new}">Create user</a>

    </form>
        <div th:if="${message != null}" class="alert alert-dismissible alert-success" th:text="${message}">
        </div>
        <div th:if="${errormessage != null}" class="alert alert-dismissible alert-danger" th:text="${errormessage}">
        </div>
    <table class="table table-hover">
        <thead>
        <tr class="table-dark">
            <th>
                <a th:if="${sortField != 'userName'}" style="color:white; text-decoration:none"
                   th:href="@{'/users/page/' + ${currentPage} + '?sortField=userName&sortDir=' + ${sortDir}}">Username&nbsp;</a>
                <a th:if="${sortField == 'userName'}" style="color:white; text-decoration:none"
                   th:href="@{'/users/page/' + ${currentPage} + '?sortField=userName&sortDir=' + ${reverseSortDir}}">Username&nbsp;</a>

                <i th:if="${sortField == 'userName'}"
                   th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
            </th>

            <th>
                <a th:if="${sortField != 'userEmail'}" style="color:white; text-decoration:none"
                   th:href="@{'/users/page/' + ${currentPage} + '?sortField=userEmail&sortDir=' + ${sortDir}}">Email&nbsp;</a>
                <a th:if="${sortField == 'userEmail'}" style="color:white; text-decoration:none"
                   th:href="@{'/users/page/' + ${currentPage} + '?sortField=userEmail&sortDir=' + ${reverseSortDir}}">Email&nbsp;</a>

                <i th:if="${sortField == 'userEmail'}"
                   th:class="${sortDir == 'asc' ? 'fa-solid fa-sort-up' : 'fa-solid fa-sort-down'}"></i>
            </th>
            <th scope="col">Role</th>
            <th scope="col">Enabled</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-dark" th:each="user: ${listUsers}">
            <td th:text="${user.userName}"/>
            <td th:text="${user.userEmail}"/>
            <td th:text="${user.roles}"/>
            <td th:text="${user.enabled}"/>
            <td>
                <a type="button" class="btn btn-link" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                <a type="button" class="btn btn-link" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
        <div>
            <span th:text="${totalItems}"/>
            <ul class="pagination justify-content-center">
                <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir}}">&laquo;</a>
                </li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir}}" th:text="${i}">1</a>
                </li>
                <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' +${sortDir}}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>