<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:insert="~{fragments/head :: head}"></div>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<br/>
<div class="container-fluid">
  <div class="card border-primary mb-5" style="max-width:700px; margin:0 auto">
    <div class="card-header"><h1 th:text="${cardTitle}">
    </h1></div>
    <div class="card-body">
      <form th:action="@{/address/save}" method="post" th:object="${address}">
        <fieldset>
          <div class="form-group">
            <input type="hidden" th:field="*{addressId}">
            <input type="hidden" th:field="*{addressCustomer}">
          </div>
          <div class="form-group">
            <label for="inputEmail" class="form-label mt-4">Country</label>
            <input type="text" class="form-control" id="inputEmail" th:field="*{addressCountry}">
          </div>
          <div class="form-group">
            <label for="inputUsername" class="form-label mt-4">City</label>
            <input type="text" class="form-control" id="inputUsername" th:field="*{addressCity}">
          </div>
          <div class="form-group">
            <label for="inputUsernam" class="form-label mt-4">Postal code</label>
            <input type="number" class="form-control" id="inputUsernam" th:field="*{addressPostCode}">
          </div>
          <div class="form-group">
            <label for="inputUserna" class="form-label mt-4">Street</label>
            <input type="text" class="form-control" id="inputUserna" th:field="*{addressStreet}">
          </div>
          <div class="form-group">
            <label for="inputUsern" class="form-label mt-4">House number</label>
            <input type="number" class="form-control" id="inputUsern" th:field="*{addressHouseNum}">
          </div>
          <div class="form-group">
            <label for="inputUser" class="form-label mt-4">Apartment number</label>
            <input type="text" class="form-control" id="inputUser" th:field="*{addressApartNum}">
          </div>
          <br/>
          <button type="submit" class="btn btn-light">Submit</button>
          <a class="btn btn-secondary" th:href="@{/}">Cancel</a>
        </fieldset>
      </form>
    </div>
  </div>
  </br>
  <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>