<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:insert="~{fragments/head :: head}"></div>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<br/>
<div class="container-fluid">
  <div th:if="${message != null}" class="alert alert-dismissible alert-success" th:text="${message}">
  </div>
  <div th:if="${errormessage != null}" class="alert alert-dismissible alert-danger" th:text="${errormessage}">
  </div>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <th:block th:each="address : ${addresses}">
      <div class="col">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-body">
              <p th:text="${address.toString()}"></p>
              <a th:href="@{'/address/edit/' + ${address.getAddressId()}}" th:text="'Edit address'"></a>
          </div>
        </div>
      </div>
    </th:block>
  </div>
  <a class="btn btn-secondary" th:href="@{'/address/new/' + ${customerId}}">Create new address</a>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>