<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:insert="~{fragments/head :: head}"></div>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<br/>
<div class="container-fluid">
    <div class="card border-primary mb-3" style="max-width: 700px; margin:0 auto">
        <div class="card-header"><h1 th:text="'Order № ' + ${order.getOrderId()} + ' — ' + ${order.getOrderDate()}"></h1></div>
        <div class="card-body">
            <div th:if="${errormessage != null}" class="alert alert-dismissible alert-danger" th:text="${errormessage}">
            </div>
            <p th:text="'Status: ' + ${order.getOrderOrderStatus()}"></p>
            <table class="table table-hover">
                <th:block th:each="product : ${order.getOrderProductsOrders()}">
                    <tr>
                        <td th:text="${product.getOrderProductProduct().getProductName()}"></td>
                        <td th:text="${product.getOrderProductQuantity()}"></td>
                        <td th:text="${product.getOrderProductQuantity() * product.getOrderProductProduct().getProductPrice()} + '$'"></td>
                    </tr>
                </th:block>
            </table>
            <p th:text="'Total: ' + ${order.getFinalSum()}"></p>
            <p th:text="'Payment method: ' + ${order.getOrderPaymentMethod()}"></p>
            <p th:text="'Delivery method: ' + ${order.getOrderDeliveryMethod()}"></p>
            <p th:text="'Delivery address: ' + ${address.toString()}"></p>
            <a class="btn btn-secondary" th:href="@{'/reorder/' + ${order.getOrderId()}}">Reorder</a>
        </div>
    </div>
</div>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>