<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head :: head}"></div>
<body>
<div th:insert="~{fragments/header :: header}"></div>

</br>
<div class="container-fluid">
  <div class="card border-primary mb-5" style="max-width:700px; margin:0 auto">
    <div class="card-header" ><h1 th:text="${cardTitle}">
    </h1></div>
    <div class="card-body">
      <!--      email, password, username, enabled-->
      <form th:action="@{/customers/save}" method="post" th:object="${user}">
        <fieldset>
          <div class="form-group">
            <input type="hidden" th:field="*{id}">
          </div>
          <div class="form-group">
            <label for="inputEmail" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Enter email" th:field="*{userEmail}"
                   required minlenght="8" maxlength="120">
          </div>
          <div class="form-group">
            <label for="inputUsername" class="form-label mt-4">User Name</label>
            <input type="text" class="form-control" id="inputUsername" placeholder="Enter user name" th:field="*{userName}">
          </div>
          <div class="form-group">
            <label class="form-label mt-4">Password</label>
            <input type="password" class="form-control"
                   placeholder="Password" th:field="*{password}"
                   required>
          </div>
          <br/>
          <button type="submit" class="btn btn-light">Submit</button>
          <a class="btn btn-secondary" th:href="@{/}">Cancel</a>
        </fieldset>
      </form>
      <a th:href="@{/login}" th:text="'Already have an account?'"></a>
    </div>
  </div>
  <div th:insert="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>