<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/head :: head}"></div>
<body>
<div th:insert="~{fragments/header :: header}"></div>

</br>
<div class="container-fluid">
  <div class="card border-light mb-5" style="max-width:700px; margin:0 auto">
    <div class="card-header"><h1>
      New user
    </h1></div>
    <div class="card-body">
<!--      email, password, username, enabled-->
      <form th:action="@{/user/save}" method="post">
        <fieldset><div class="form-group">
          <label for="inputEmail" class="form-label mt-4">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
          <div class="form-group">
            <label for="inputUsername" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputPassword" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <br/>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
            <label class="form-check-label" for="flexSwitchCheckChecked">Enable</label>
          </div>
          <br/>
          <button type="button" class="btn btn-light">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div th:insert="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>